
body{
    font-family: 'Bubblegum Sans', cursive;
    background-image: url('images/abc.png');
}

.container{
    border:1px solid gray;
    max-width: 1000px;
    margin:0 auto;
    padding:0 0 2rem;
    background-color: white;
}

.result-container{
    border:1px solid gray;
    max-width:500px;
    margin:0 auto;
}

h1, h2, p, .i, .b{
    text-align: center;
}

h1{
    font-size:3rem;
    margin:1rem;
}

h2{
    font-size:2rem;
    margin:.5rem;
}

.output{
    font-size:3rem;
    margin:5px;
}

p{
    font-size:1.5rem;
    margin:10px;
    
}

input{
   width:300px;
   height:20px;
   font-size:1.5rem;
}

.error{
   color:red;
   display:none;
   text-align: center;
}

.show{
    display:block;
}

button{
    border:none;
    border-radius: 50px;
    padding:1rem;
    margin:.5rem;
    background-color:lightcoral;
    color:white;
    font-size:1.5rem;
}

button:hover{
    cursor:pointer;
    font-weight:bold;
}

.user-guess, .answer{
    border-bottom:2px solid black;
}

.score{
    color:red;
    font-size:2.5rem;
}


